h1 {
    position: relative;
    text-align:center;
    width: auto;
   background-color: rgb(244, 79, 79);    
   color: rgb(255, 255, 255);
   padding: 20px
 }
main {
    main {
    margin: 10px;
}
#parent {
    justify-content: center;
    justify-content: space-around;
}
}
.flexbox-container {
    display: flex;
}
.contents img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
}
.contents {
    border: solid 3px rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px, 15px;
    margin: 20px, 0;
    text-align: center;
}
h2::before {
    content: "●";
    color: rgb(239, 111, 139);
}
    
h2 {
    font-size: 25px;
    border-bottom: dotted 3px rgb(236, 122, 122);
}
p:nth-child(3)::first-letter {
    color: rgb(97, 206, 249);
    font-weight: bold;
}
footer {
    background-color: rgb(244, 79, 79);
    position: relative;
    text-align:center;
}
a:visited {
    color: rgb(193, 234, 251);
}
a:hover {
    color: rgb(245, 178, 168);
}
@media screen and (max-width: 768px) {
    #parent {
      flex-direction: column;
    }
  
    h2 {
      font-size: 30px;
    }
  
    p {
      font-size: 25px; /* ここを修正 */
    }
  
    .contents:not(:first-child)p {
      font-weight: bold;
      color: rgb(97, 206, 249);
    }
  }
